@model List<Cart>
@{
    ViewData["Title"] = "Online Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h3 class="my-3">Online Payment</h3>
@*     <div class="alert alert-info">

    </div> *@
    <p>We apologize for the inconvenience. The online payment gateway is currently under maintenance. Please try again later or select the "Cash on Delivery" option to proceed with your order.</p>

</div>
